.project{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: rgba(0, 26, 9, 0.646);
}

.project-content {
    margin-top: 40px; 
}

.head-text{
    font-size: 30px;
    font-weight: 600;
    min-width: 280px;
}

form {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 700px;
    margin: 20px auto;
}

.form-row {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    margin-bottom: 20px;
}

.form-row label {
    font-size: 1.6rem;
    display: block;
    margin-bottom: 5px;
}

.form-row input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1.6rem;
}

#ndvi, #nightlight, #area {
    width: 100px; /* Adjust the width to make it smaller */
    height: 25px;
}

.prey-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.prey-item label {
    font-size: 1.6rem;
    display: block;
    margin-bottom: 5px;
}

.prey-item input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1.6rem;
}

input[type="number"] {
    height: 35px; /* Adjust for consistent height */
}

button.btn {
    margin-top: 20px;
    display: block;
    width: 100%;
    background-color: #015302;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.8rem;
    cursor: pointer;
    border: none;
}

button.btn:hover {
    background-color: #017704;
}

dialog {
    width: 50%;
    border: none;
    border-radius: 8px;
    position: fixed; /* Ensure the dialog box is fixed in the viewport */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust to ensure the center of the dialog aligns */
    width: 50%;
    border: none;
    border-radius: 8px;
    padding: 20px;
    background-color: rgba(0, 26, 9, 0.95);
    color: white;
    box-shadow: 0 0 15px #015302;
}


dialog::backdrop {
    backdrop-filter: blur(5px); /* Blurs the background */
    background-color: rgba(0, 0, 0, 0.4); /* Optional: Adds a semi-transparent overlay */
}

dialog h3 {
    margin-bottom: 20px;
    font-size: 2rem;
    text-align: center;
    color: #015302;
}

#output-content {
    font-size: 1.6rem;
    margin-bottom: 20px;
    color: white;
}

#close-dialog {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #015302;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#close-dialog:hover {
    background-color: #013a02;
}
